footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright {
  color: #3d8361;
  font-weight: bold;
  padding: 0.5em;
}
.copyright i {
  color: #ff1e00;
  font-size: 1.2em;
}
